@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  z-index: 1;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
li,
a,
button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.logo__title {
  font-size: 1.2rem;
  font-weight: bolder;
  /* if we use span to style it overrides logo__title class styles */
}

/* Navigation bar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  position: fixed;
  /* z-index: 1; */
  width: 100%; /* Doubt */
  overflow: hidden;
  z-index: 2;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.navbar__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-right: 5px;
}

.navbar__contacts .bi {
  cursor: pointer;
}
.navbar__contacts .bi:hover {
  transform: scale(1.2);
  /* color: blue; */
}

.navbar__contacts_btn {
  border: none;
  padding: 0 10px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: whitesmoke;
  transition: all 200ms;
  cursor: pointer;
}

.navbar__contacts_btn:hover {
  background-color: white;
  transform: scale(1.1);
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

/* Apply Styles while scrolling */
.scrolling-active {
  background-color: whitesmoke;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

/* BackGround */
.home {
  height: 100vh;
  /* background-image: url("images/background.jpg"); */
  /* background-size: 100% 100%; */
  /* background-color: #CFD9E6; */
  background: rgb(153, 157, 162);
  background: linear-gradient(
    309deg,
    rgba(153, 157, 162, 1) 1%,
    rgba(207, 217, 230, 1) 25%,
    rgba(200, 210, 224, 1) 67%,
    rgba(155, 169, 187, 1) 100%
  );
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home */

.section__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
  width: 100%;
  margin-bottom: 60px;
}

.section__title h1 {
  font-size: 5rem;
}

.section__title p {
  font-size: 1.2rem;
}

.section__home_logo {
  width: 900px;
  height: 700px;
  object-fit: cover;
  /* overflow: hidden; */
}

/* About */
.section__about_img {
  height: 100vh;
}

/* Works */

.works {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 60px;
  background: rgb(218, 217, 217);
}
/* .section__works_card {
  height: 300px;
  width: 250px;
  background-color: black;
} */

@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Fira+Code&family=Poppins:wght@100&family=Roboto&display=swap");

.swiper {
  width: 90%;
  height: 60vh;
}

.swiper-wrapper {
}

.card {
  background-color: white;
  /* min-height: 600px !important; */
  width: 300px;
  border-radius: 10px;
  /*   overflow: auto; */
  /*   padding: 10px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.swiper-slide img {
  object-fit: cover;
  height: 150px;
  width: 300px;
  border-radius: 10px 10px 0 0;
  display: block;
  width: 100%;
  /*         height: 50%; */
  object-fit: cover;
}

.card .title {
  font-size: 1.5em;
  font-weight: 800;
  margin: 20px;
}

.card .description {
  font-family: "Poppins", sans-serif;
  margin: 20px;
  font-size: 12px;
  /* font-weight: bolder; */
}

/* Icons */

.card .btn {
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  margin-right: 1em;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
  /*     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}
.card i.fa {
  font-size: 20px;
}
.card #fb {
  color: #006fff;
  text-shadow: 0 0 30px #006fff;
}
.card #ig {
  color: #000;
  text-shadow: 0 0 30px #ff5f40;
}
#tw {
  color: #00acff;
  text-shadow: 0 0 30px #00acff;
}
.card .btn.fb-btn {
  box-shadow: 0 20px 20px -17px rgba(0, 111, 255, 0.53);
  /*   overiding */
}
.btn.fb-btn:hover {
  transform: scale(1.2);
  box-shadow: 0 30px 45px -15px rgba(255, 16, 39, 0.57);
}
.btn.ig-btn {
  box-shadow: 0 20px 20px -17px rgba(255, 16, 39, 0.5);
}
.btn.ig-btn:hover {
  transform: scale(1.2);
  box-shadow: 0 30px 45px -15px rgba(255, 16, 39, 0.57);
}
.btn.tw-btn {
  box-shadow: 0 20px 20px -17px rgba(0, 255, 255, 0.53);
}
.btn.tw-btn:hover {
  transform: scale(1.2);
  box-shadow: 0 30px 45px -15px rgba(0, 111, 255, 0.6);
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
}

/* Swiper Styles */

.swiper {
  /*         width: 100%;
        height: 100%; */
}
.swiper-slide {
  /*         text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
  /*         display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center; */
}

.swiper-slide img {
  /*         display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; */
}

/* SKILLS */

.skills {
  /* position: relative; */
  /* left: 50%; */
  /* bottom: 50%; */
  /* transform: translate(-50%, -50%); */

  background: #fff;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.skills-bar {
  padding: 25px 30px;
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #07374a;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: #25b79f;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  text-transform: uppercase;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 80%;
}
.progress-line .css {
  width: 70%;
}
.progress-line .bootstrap {
  width: 82%;
}
.progress-line .javascript {
  width: 62%;
}
.progress-line .c {
  width: 90%;
}

.progress-line .python {
  width: 70%;
}

.progress-line .ml {
  width: 50%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #07374a;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .html::after {
  content: "80%";
}
.progress-line .css::after {
  content: "70%";
}
.progress-line .bootstrap::after {
  content: "82%";
}
.progress-line .javascript::after {
  content: "62%";
}
.progress-line .c::after {
  content: "90%";
}

.progress-line .python::after {
  content: "70%";
}

.progress-line .ml::after {
  content: "50%";
}

/* ////........Media Query........//// */

@media (max-width: 700px) {
  .skills {
    width: 80%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }
}

/* Resume */

.resume {
  gap: 200px;
  /* background-color: #F8F8F8; */
}

.section__resume_description h1 {
  margin: 30px;
}

.section__resume_description button {
  margin: 30px;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.section__resume_description button:hover {
  background-color: royalblue;
}

/* Contact Form Styles */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.contact-form {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8eed9;
  position: relative;
}
.contact-form::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #f7ab08;
  clip-path: polygon(86% 0, 100% 0, 100% 100%, 60% 100%);
}
.contact-form__container {
  z-index: 12;
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  margin: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.contact-form__container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}
.content .image-box {
  max-width: 55%;
}
.content .image-box img {
  width: 100%;
}
.content .topic {
  font-size: 22px;
  font-weight: 500;
  color: #f7ab08;
}
.content form {
  width: 40%;
  margin-right: 30px;
}
.content .input-box {
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}
.content .input-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding-left: 16px;
  background: #f8eed9;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.content .input-box input:focus,
.content .input-box input:valid {
  border-color: #f7ab08;
  background-color: #fff;
}
.content .input-box label {
  position: absolute;
  left: 18px;
  top: 50%;
  color: #636c72;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.content .input-box input:focus ~ label,
.content .input-box input:valid ~ label {
  top: 0;
  left: 12px;
  display: 14px;
  color: #f7ab08;
  background: #fff;
}
.content .message-box {
  min-height: 100px;
  position: relative;
}
.content .message-box textarea {
  position: absolute;
  height: 100%;
  width: 100%;
  resize: none;
  background: #fae9fb;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease;
}
.content .message-box textarea:focus {
  border-color: #f7ab08;
  background-color: #fff;
}
.content .message-box label {
  position: absolute;
  font-size: 16px;
  color: #636c72;
  left: 18px;
  top: 6px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.content .message-box textarea:focus ~ label {
  left: 12px;
  top: -10px;
  color: #f7ab08;
  font-size: 14px;
  background: #fff;
}
.content .input-box input[type="submit"] {
  color: #fff;
  background: #f7ab08;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.content .input-box input[type="submit"]:hover {
  background-color: #d4a02f;
}
@media (max-width: 1000px) {
  .content .image-box {
    max-width: 70%;
  }
  .content {
    padding: 10px 0;
  }
}
@media (max-width: 900px) {
  .content .image-box {
    display: none;
  }
  .content form {
    width: 100%;
    margin-left: 30px;
  }
}
